# authelia
authelia/*
!authelia/configuration.yml
!authelia/users_database.yml
# duckdns
duckdns/
# emqx
emqx/*
!emqx/data/
emqx/data/*
# !emqx/data/configs/
# frigate
frigate/*
!frigate/config.yml
# mariadb
mariadb/
# swag
swag/
# swag/nginx/**
# swag/nginx/proxy-confs/**
.env
glances/glances.conf
ollama/
open-webui/
llama-models/models

# ignore all files and directories of nextcloud excluding nextcloud/www/nextcloud/config/config.php
nextcloud/*
!nextcloud/www/nextcloud/config/config.php
prometheus/prometheus.yml
frigate/config.yml

mediawiki

jellyfin/
!jellyfin/config/
!jellyfin/config/config/

transmission
!transmission/config

qbittorrent/
!qbittorrent/config
qbittorrent/config/wael.list.p2p

heimdall/
!heimdall/config/www/app.sqlite

prowlarr/config/Definitions/
prowlarr/config/logs/

radarr/config/logs/
radarr/config/MediaCover/

sonarr/config/logs/
sonarr/config/MediaCover/